# ML Assignment (should be a py file before delivery)

## Names
### Jay Mahn
###
###
###

# 1.0 Installing and loading the libraries

In [1]:
# Pip install

In [2]:
import numpy as np
import pandas as pd

# 2.0 Loading the files

## Load the various files

In [3]:
train_data = pd.read_csv("data/test_data.csv")
test_data = pd.read_csv("data/test_data.csv")
supplimental_data = pd.read_csv("data/supplimental_data.csv")

## Making a back-up for safety

In [4]:
train_data_B = train_data
test_data_B = test_data
supplimental_data_B = supplimental_data

# 3.0 EDA

##  3.1 EDA - General info

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60832 entries, 0 to 60831
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserID                  60832 non-null  object
 1   QuestionTiming          60832 non-null  object
 2   TimeUtc                 60832 non-null  object
 3   CurrentGameMode         50499 non-null  object
 4   CurrentTask             50499 non-null  object
 5   CurrentSessionLength    60832 non-null  int64
 6   LastTaskCompleted       24031 non-null  object
 7   LevelProgressionAmount  50497 non-null  float64
 8   QuestionType            60832 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.2+ MB

In [6]:
train_data.head()

,UserID,QuestionTiming,TimeUtc,CurrentGameMode,CurrentTask,CurrentSessionLength,LastTaskCompleted,LevelProgressionAmount,QuestionType
0,p1,System Initiated,2022-08-28 15:50:22,NaN,NaN,0,NaN,NaN,Wellbeing
1,p1,User Initiated,2022-08-28 16:05:02,Career,RECREATIONGROUND_SKATEPARK,14,NaN,0.563458,Wellbeing
2,p1,User Initiated,2022-09-07 03:31:50,NaN,NaN,0,NaN,NaN,Wellbeing
3,p1,System Initiated,2022-09-08 01:30:05,NaN,NaN,0,NaN,NaN,Wellbeing
4,p1,System Initiated,2022-09-08 01:43:45,Career,RECREATIONGROUND_SKATEPARK,13,NaN,0.829827,Wellbeing

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60832 entries, 0 to 60831
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UserID                  60832 non-null  object
 1   QuestionTiming          60832 non-null  object
 2   TimeUtc                 60832 non-null  object
 3   CurrentGameMode         50499 non-null  object
 4   CurrentTask             50499 non-null  object
 5   CurrentSessionLength    60832 non-null  int64
 6   LastTaskCompleted       24031 non-null  object
 7   LevelProgressionAmount  50497 non-null  float64
 8   QuestionType            60832 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.2+ MB

In [8]:
test_data.head()

,UserID,QuestionTiming,TimeUtc,CurrentGameMode,CurrentTask,CurrentSessionLength,LastTaskCompleted,LevelProgressionAmount,QuestionType
0,p1,System Initiated,2022-08-28 15:50:22,NaN,NaN,0,NaN,NaN,Wellbeing
1,p1,User Initiated,2022-08-28 16:05:02,Career,RECREATIONGROUND_SKATEPARK,14,NaN,0.563458,Wellbeing
2,p1,User Initiated,2022-09-07 03:31:50,NaN,NaN,0,NaN,NaN,Wellbeing
3,p1,System Initiated,2022-09-08 01:30:05,NaN,NaN,0,NaN,NaN,Wellbeing
4,p1,System Initiated,2022-09-08 01:43:45,Career,RECREATIONGROUND_SKATEPARK,13,NaN,0.829827,Wellbeing

In [9]:
supplimental_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294726 entries, 0 to 294725
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   UserID                  294726 non-null  object
 1   QuestionTiming          294726 non-null  object
 2   TimeUtc                 294726 non-null  object
 3   CurrentGameMode         294726 non-null  object
 4   CurrentTask             294726 non-null  object
 5   CurrentSessionLength    294726 non-null  int64
 6   LastTaskCompleted       166724 non-null  object
 7   LevelProgressionAmount  294726 non-null  float64
 8   QuestionType            294726 non-null  object
 9   ResponseValue           294726 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 22.5+ MB

In [10]:
supplimental_data.head()

,UserID,QuestionTiming,TimeUtc,CurrentGameMode,CurrentTask,CurrentSessionLength,LastTaskCompleted,LevelProgressionAmount,QuestionType,ResponseValue
0,p1,System Initiated,2022-08-19 00:02:01,Career,RESIDENTIALSMALL_BACKYARD,7,NaN,0.726184,Focus,790.0
1,p1,System Initiated,2022-08-19 00:08:47,Career,RESIDENTIALSMALL_BACKYARD,13,NaN,0.834437,Focus,794.0
2,p1,System Initiated,2022-08-19 18:21:49,Special,MARS_MARSROVER,7,WASH_AlienHatch,1.000000,Focus,770.0
3,p1,System Initiated,2022-08-19 18:50:40,Career,RECREATIONGROUND_PLAYGROUND,36,WASH_Roundabout,0.250897,Enjoyment,743.0
4,p1,System Initiated,2022-08-19 20:17:25,Career,RECREATIONGROUND_PLAYGROUND,7,WASH_Stegoslide,0.351545,Focus,817.0

In [11]:
# test and train data are the same 
# So supplimental data has 1 feature more called ResponseValue

## 3.2 EDA - Checking for Categorical values

In [12]:
# Possible Categorical values include:
# QuestionTiming
# CurrentGameMode
# CurrentTask
# QuestionType
# LastTaskCompleted

### 3.2.1 EDA - QuestionTiming

In [13]:
# Step 1: Get unique values from the column
categorical_test = train_data['QuestionTiming'].unique()

# Step 2: Filter out 'double' values (assuming 'double' means numerical values represented as strings)
filtered_values = [value for value in categorical_test if not value.replace('.', '', 1).isdigit()]

# Step 3: Convert filtered values to a list
filtered_values_list = list(filtered_values)

# Step 4: Print the list
print(filtered_values_list)

['System Initiated', 'User Initiated']

In [14]:
# Two answers should mean this should not have to be dummy encoded since it's binairy

### 3.2.2 EDA - CurentGameMode

In [15]:
unique_values = train_data['CurrentGameMode'].unique()
# Filter out non-string values and convert to string
filtered_values = [str(value) for value in unique_values if not isinstance(value, float)]
filtered_values_list = list(filtered_values)
print(filtered_values_list)

['Career', 'FreePlay', 'Special', 'Challenge']

In [16]:
# Four answers should mean this can be dummy encoded to 4, no order.

### 3.2.3 EDA - CurrentTask

In [17]:
unique_values = train_data['CurrentTask'].unique()
filtered_values = [str(value) for value in unique_values if not isinstance(value, float)]
filtered_values_list = list(filtered_values)
print(filtered_values_list)

['RECREATIONGROUND_SKATEPARK', 'NATIONALPARK_STORYBOOKHOUSE', 'FIRESTATION_FIRESTATION', 'HOME_VAN', 'RESIDENTIALSMALL_BACKYARD', 'SUBWAY_SUBWAYPLATFORM', 'DESERT_ANCIENTHAND', 'MARINA_FISHINGBOAT', 'DESERT_UFO', 'SEATEMPLE', 'RECREATIONGROUND_PLAYGROUND', 'RESIDENTIALSMALL_BUNGALOW', 'HOME_PENNYFARTHING', 'FIRESTATION_FIRETRUCK', 'RECREATIONGROUND_MINIGOLF', 'HOME_GOLFCART', 'MANSION_FRONT', 'FAIRGROUND_MERRYGOROUND', 'NATIONALPARK_TREEHOUSE', 'COUNTRYSIDE_TEMPLE', 'SUBWAY_SUBWAYWASHROOM', 'RESIDENTIALSMALL_RACINGCAR', 'HOME_MOTORBIKESIDECAR', 'HOME_SUV', 'SUBURBIA_DETACHEDHOUSE', 'NATIONALPARK_SHOEHOUSE', 'SUBURBIA_CAMPERVAN', 'HOME_DRILL', 'FAIRGROUND_HELTERSKELTER', 'AIRPORT_PRIVATEJET', 'HANGAR_MONSTERTRUCK', 'FAIRGROUND_BIGWHEEL', 'MANSION_FROLICBOAT', 'FAIRGROUND_FORTUNETELLERCARAVAN', 'DESERT_ANCIENTSTATUE', 'HANGAR_STUNTPLANE', 'FIRESTATION_FIREHELICOPTER', 'HOME_DIRTBIKE', 'DESERT_STEAMLOCOMOTIVE', 'SUBURBIA_VINTAGECAR', 'MARS_MARSROVER', 'RECREATIONGROUND_FOUNTAIN', 'TIME_RESIDENTIALSMALL_BACKYARD', 'WATER_HOME_DIRTBIKE', 'TIME_RESIDENTIALSMALL_BUNGALOW', 'WATER_AIRPORT_STUNTPLANE', 'WATER_FIRESTATION_FIRETRUCK', 'WATER_HOME_GOLFCART', 'TIME_HOME_VAN', 'TIME_SUBURBIA_VINTAGECAR']

In [18]:
# Lots of values, not smart to dummy encode, another option is needed.

### 3.2.4 EDA - QuestionType

In [19]:
unique_values = train_data['QuestionType'].unique()
filtered_values = [str(value) for value in unique_values if not isinstance(value, float)]
filtered_values_list = list(filtered_values)
print(filtered_values_list)

['Wellbeing']

In [20]:
are_all_same = len(unique_values) == 1
print(are_all_same)

True

In [21]:
# In the train/test these are the same in supplemental these are:

In [22]:
unique_values = supplimental_data['QuestionType'].unique()
filtered_values = [str(value) for value in unique_values if not isinstance(value, float)]
filtered_values_list = list(filtered_values)
print(filtered_values_list)

['Focus', 'Enjoyment', 'Immersion', 'Autonomy', 'Competence']

### 3.2.4 EDA - LastTaskCompleted

In [23]:
unique_values = train_data['LastTaskCompleted'].unique()
filtered_values = [str(value) for value in unique_values if not isinstance(value, float)]
filtered_values_list = list(filtered_values)
print(filtered_values_list)

['WASH_SkatePark', 'WASH_VintageCar', 'WASH_PWVan', 'WASH_StuntPlane', 'WASH_UFO', 'WASH_ShoeHouse', 'WASH_StoryBookCottage', 'WASH_80sRacingCar', 'WASH_SUV', 'WASH_PennyFarthing', 'WASH_Roundabout', 'WASH_GolfCart', 'WASH_FireHelicopter', 'WASH_MerryGoRound', 'WASH_Temple', 'WASH_MotorbikeSidecar', 'WASH_FireTruck', 'WASH_FireStation', 'WASH_Bench', 'WASH_Drill', 'WASH_PlaygroundFloor', 'WASH_FrolicBoat', 'WASH_MonsterTruck', 'WASH_MarsRover', 'WASH_PrivateJet', 'WASH_FortuneTellerCaravan', 'WASH_Marina_FishingBoat', 'WASH_CamperVan', 'WASH_Mansion', 'WASH_SubwayWashroom', 'WASH_DirtBike', 'WASH_Stegoslide', 'WASH_SubwayPlatform', 'WASH_BigWheel_01', 'WASH_AncientHand', 'WASH_SeaTemple', 'WASH_ClimbingFrame', 'WASH_AlienHatch', 'WASH_Bungalow', 'WASH_DetachedHouse', 'WASHABLE', 'WASH_SteamLocomotive', 'WASH_Bench_02', 'WASH_Bench_01', 'WASH_TreeHouse', 'WASH_Fountain', 'WASH_Backyard', 'WASH_AncientStatue', 'WASH_HelterSkelter', 'WASH_Bin_01', 'WASH_Bin']

In [24]:
# Lots of values, not smart to dummy encode, another option is needed.

## 3.3 EDA - Unique ID's checking

In [25]:
amount_of_id_train = train_data['UserID'].nunique()
print(amount_of_id_train)

amount_of_id_supplimental = supplimental_data['UserID'].nunique()
print(amount_of_id_supplimental)

6451
5204

In [26]:
# From the train data, there are 6451 ID's meaning 6451 UNIQUE ID's.
# From the supplimental data, there are 5204 ID's meaning 5204 UNIQUE ID's.

In [27]:
mode_id_train = supplimental_data['UserID'].mode()[0]
print(mode_id_train)

#from the train data ID 2852 has the highest Mode
#This also goes for the supplimental data

p2852

In [28]:
value_counts_p2852 = train_data['UserID'].value_counts()

# Access the count for the specific value
count_specific_value = value_counts_p2852.get('p2852', 0)  # 0 is returned if the value is not found

print("Number of entries for 'p2852':", count_specific_value)

Number of entries for 'p2852': 195

In [29]:
# The assingment states:
# "The data has more than one observation per person (over time), consider using that information."
# So we have to see how this information can be used later since the most we can find is "195" for the highest ID count

In [30]:
#Remove
Answering_options_train_ = train_data['UserID'].nunique()

# 3.1 EDA - Normalizing/Standarizing/etc the Data

In [31]:
# REMOVE THIS BLOCK
# Maybe we can delete some features like the Questiontype?